:root {
  font-family: Robotto, Arial, sans-serif;
 
/*
  color-scheme: light dark;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
 */
 background-color: #F3F4F6;
 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
 

.card-list {
  display: flex;
  flex-wrap: wrap;  
}

body{margin: 0;}